main {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22px; /* Tamaño de letra más grande para el main */
}

.panel-control {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px; /* Tamaño de letra más grande para el panel de control */
}

.panel-control nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 24px; /* Tamaño de letra más grande para los elementos de navegación */
}

.panel-control section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px; /* Tamaño de letra más grande para la sección */
}
