main {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22px; /* Tamaño de letra más grande para el main */
}

.panel-control {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px; /* Tamaño de letra más grande para el panel de control */
}

.panel-control nav {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 20px; /* Tamaño de letra más grande para los elementos de navegación */
    height: 700%;
    justify-content: center;
}
.panel-control nav a{
    text-decoration: none;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30px;
    background-color: black;
    color: cornsilk;
}

.panel-control section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px; /* Tamaño de letra más grande para la sección */
    gap: 20px;
}


@media (max-width:700px) {
    .panel-control{
        flex-direction: column;
    }
    .panel-control nav {
        width: 100%;
        height: auto;
        padding: 10px;
    }
}